In [1]:
import pandas as pd  # Pandas proporciona estructuras de datos y herramientas para el análisis de datos.
import seaborn as sns  # Seaborn es una biblioteca de visualización de datos basada en matplotlib.
import matplotlib.pyplot as plt  # Matplotlib es una biblioteca de gráficos 2D que produce figuras de calidad de publicación.
from pathlib import Path  # Pathlib ofrece clases para manejar rutas de archivos de manera orientada a objetos.
import os  # La biblioteca os permite interactuar con el sistema operativo.

In [2]:
s_path = Path.cwd()  # Obtiene el directorio de trabajo actual como un objeto Path.
s_prt_path = s_path.parent/'..'/'BD_XM' # Accede al directorio padre del directorio actual. Utilizamos '..' para subir un nivel en la jerarquía de directorios.
ruta_carpeta_atras = s_prt_path.resolve() # Normalizamos la ruta para resolver cualquier ruta relativa
ruta_csv = os.path.join(s_prt_path,'Data_XM.csv')  # Crea una ruta al archivo CSV en el directorio padre.
df_DataModel= pd.read_csv(ruta_csv)  # Lee el archivo CSV en un DataFrame de pandas.

In [3]:
df_DataModel['Date'] = pd.to_datetime(df_DataModel['Date'])  # Convierte la columna 'Date' a tipo datetime.
df_DataModel.drop('Unnamed: 0', axis=1, inplace=True)  # Elimina la columna 'Unnamed: 0'.

In [4]:
df_DataModel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3013 entries, 0 to 3012
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       3013 non-null   datetime64[ns]
 1   Demanda    3013 non-null   float64
 2   VolUtil    3013 non-null   float64
 3   Aportes    3013 non-null   float64
 4   PrecioB    3013 non-null   float64
 5   PrecioO    3013 non-null   float64
 6   DispTer    3013 non-null   float64
 7   DispNoTer  3013 non-null   float64
dtypes: datetime64[ns](1), float64(7)
memory usage: 188.4 KB

In [5]:
# Establece la fecha límite hasta la cual deseas mantener los datos.
fecha_limite = pd.to_datetime('2019-12-31')

In [6]:
# Filtra el DataFrame para mantener solo las filas con fechas hasta la fecha límite.
df_filtrado = df_DataModel[df_DataModel['Date'] <= fecha_limite]

In [7]:
df_filtrado.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1461 entries, 0 to 1460
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       1461 non-null   datetime64[ns]
 1   Demanda    1461 non-null   float64
 2   VolUtil    1461 non-null   float64
 3   Aportes    1461 non-null   float64
 4   PrecioB    1461 non-null   float64
 5   PrecioO    1461 non-null   float64
 6   DispTer    1461 non-null   float64
 7   DispNoTer  1461 non-null   float64
dtypes: datetime64[ns](1), float64(7)
memory usage: 102.7 KB

In [9]:
df_filtrado

,Date,Demanda,VolUtil,Aportes,PrecioB,PrecioO,DispTer,DispNoTer
0,2016-01-01,5.885745e+06,1.055541e+10,63496200.0,407.565972,414.206983,3.978219e+06,8.762403e+06
1,2016-01-02,6.352403e+06,1.053737e+10,55776100.0,407.627913,418.642247,3.987585e+06,8.949453e+06
2,2016-01-03,6.285871e+06,1.052841e+10,61744800.0,499.329203,426.290040,3.930220e+06,8.916347e+06
3,2016-01-04,7.226923e+06,1.050766e+10,70137500.0,535.140967,414.717455,3.882154e+06,9.002401e+06
4,2016-01-05,7.485122e+06,1.047468e+10,64121400.0,573.129733,427.959078,3.891292e+06,8.855396e+06
...,...,...,...,...,...,...,...,...
1456,2019-12-27,8.260824e+06,1.117787e+10,100303900.0,331.918402,302.794510,4.262402e+06,9.518060e+06
1457,2019-12-28,8.007257e+06,1.112934e+10,80942900.0,279.387930,306.500796,4.269000e+06,9.845753e+06
1458,2019-12-29,7.483461e+06,1.108964e+10,78816500.0,246.472593,321.978669,4.259506e+06,9.736093e+06
1459,2019-12-30,7.926581e+06,1.107393e+10,110690400.0,323.892900,309.392542,4.285540e+06,9.428000e+06
1460,2019-12-31,7.280831e+06,1.112610e+10,167617400.0,274.955105,319.926415,4.320125e+06,9.821419e+06